[2017-04-16 13:56] shirishp opened #1 "Support for left/right swipe"
Along with up / down swipe, it would be great if we can support left / right swipe.

[2017-04-17 14:06] darenju commented on #1
[Done!](https://github.com/darenju/react-flip-page#props)

Thank you for the idea.

[2017-04-17 14:06] #1 closed

[2017-04-17 14:24] shirishp commented on #1
This is amazing. Thank you so much. :)

[2017-04-17 15:13] darenju commented on #1
Did you have time to try this feature? I'd like some feedback, if there are things to improve.

[2017-04-17 16:13] shirishp commented on #1
@darenju I am building a magazine like site with React. Before this, we were using Turn.js. I wanted to use this library but it was missing swipe left/right. So I will try to use this library now. Will keep you posted. :)

Again, thank you very much for your efforts and quick response.

[2017-05-04 19:18] bernatfortet opened #3 "Support for uncut page flipping"
When a page is being flipped the page 3Dness is cut by the container. I've tried messing around with the css and it's possible to deactivate one of the overflows to achieve the 3D effect

![image](https://cloud.githubusercontent.com/assets/390010/25720902/6c7a5d66-30c3-11e7-93db-4bf3742ca969.png)

![image](https://cloud.githubusercontent.com/assets/390010/25720987/bac5f70a-30c3-11e7-9478-153beb15d

[2017-05-05 09:10] darenju commented on #3
Thank you for opening this issue.

This could be a feature controlled by a prop, as the default Flipboard behavior is to mask everything outside the container (which is basically the device screen).

We could use a property as mentioned before. How would we name it? `canFlipOutsideContainer`? Any idea would be appreciated :)

[2017-05-05 11:20] darenju commented on #3
Hello,

I have added this feature to the project! Instead of the long `canFlipOutsideContainer`, I used the `uncutPages` property. When set to `true`, the effect is visible, but when set to `false` (the default value), the standard behavior applies.

Thank you!

[2017-05-05 18:21] bernatfortet commented on #3
Awesome! Thanks

[2017-05-07 14:08] #3 closed

[2017-05-24 22:12] Antham22 opened #5 "Might want to add height and width as props in the doc"

[2017-05-25 10:50] darenju commented on #5
This has been fixed in PR #6.

Thank you for noting that :)

[2017-05-25 10:50] #5 closed

[2017-07-10 01:05] niiapa opened #7 "Trigger the effect outside the component?"
Hello, thanks for the package.
I was wondering if there was any way to trigger the effect of flipping the page with something like a button outside the component. Thanks.

[2017-07-10 17:04] darenju commented on #7
Hello @niiapa,

For now, there is no way to trigger a previous/next page effect outside of the component. I will think of a way to do it, but I must find something "react-compliant".

Thank you for the feedback.

[2017-07-10 20:26] darenju commented on #7
Hey @niiapa, this has been implemented! Check out PR #8 and [documentation](https://github.com/darenju/react-flip-page/blob/master/README.md) for an example.

[2017-07-10 20:42] niiapa commented on #7
Wow. Godsend! Thank you so much for the quick update!!!

[2017-07-10 20:55] #7 closed

[2017-08-22 17:27] piaaaac opened #10 "Keeping track of current page from outside the component"
Is there a way to keep track of the current page from outside the component? I mean independently from if pages changed by gesture or from with `gotoPreviousPage()` or `gotoNextPage()` methods.
Maybe the possibility to pass a callback that's executed on page change could do the trick?
Or maybe there's a way already that I can't see...

[2017-08-22 18:43] darenju commented on #10
It has been done. Check out PR #11. :smile:

[2017-08-23 10:11] piaaaac commented on #10
Perfect !! Thanks a lot for the quick response

[2017-08-23 10:11] #10 closed

[2017-08-24 08:08] piaaaac opened #13 "Clickable links"
Would it possible to make a link clickable on a flippable page?

[2017-08-24 09:03] darenju commented on #13
This is apparently a `z-index` problem. I'm working on that.

[2017-08-24 09:22] darenju commented on #13
This should be fixed.

Can you try on your side please?

Here is a quick snippet:

[code]

[2017-08-24 09:40] piaaaac commented on #13
Actually it's still not clickable. this is the content of the pages:

[code]

[2017-08-24 09:49] piaaaac commented on #13
What I'm doing now as a workaround is to place the clickable content outside the component, on top of it absolutely positioned. Downside of this solution is obviously that this content is not subject to the flip animation.

[2017-08-24 10:06] darenju commented on #13
Do you have a test page so I can take a look maybe?

[2017-08-24 10:31] piaaaac commented on #13
Actually I found that isolating the component it works, so it must be some other problem on my side. Thanks a lot !

[2017-08-24 10:31] #13 closed

[2017-09-22 08:09] anuragedushire opened #22 "Failed prop type: e: prop type `children` is invalid; it must be a function, usually from React.PropTypes."
I am getting two warnings -

Warning: Failed prop type: e: prop type `children` is invalid; it must be a function, usually from React.PropTypes.
    in e

and

warning.js?6327:35 Warning: e: type specification of prop `style` is invalid; the type checker function must return `null` or an `Error` but returned a function. You may have forgotten to pass an argument to the type checker creator (arrayO

[2017-09-22 09:08] darenju commented on #22
Hello,

Thank you for reporting this problem I had not seen. No, this is definitely not intentional, I will work on it as soon as possible.

[2017-09-24 13:13] darenju commented on #22
@anuragedushire This has been fixed.

[2017-09-24 13:13] #22 closed

[2017-09-24 14:11] anuragedushire commented on #22
Thanks for a quick fix!

[2018-01-26 15:29] darenju opened #23 "Improvements? Feature requests?"
Hello,

To everyone who follows this repo or has come across it… is there any feature you would like to see included in this package?

I'm running out of idea to improve this package.

Thank you!

[2018-01-29 02:54] enikolas opened #24 "[issue] Page not flipping properly"
## How to reproduce

Create a project from scratch using create-react-app:

[code]

Install you dependency from npm:

[code]

And, inside ```src/App.js```, change the content to be:

[code]

Now, run the application with:

[code]

And try to navigate until page 3.

## What is happening

It navigates through page 1 and 2, but suddenly, it moves back to page 1, not allowing you to see page 3.

## Ex

[2018-01-29 02:57] enikolas commented on #23
Hello buddy,

Nice repo! I really appreciate it.

Firstly, as you requested in the README file, I have the intent on helping you out with unit tests. When I have the time, I'll send my first PR to help you with this.

About features. I have some in minds. I'll create some "issues" with my feature requests.

Regards,
Nikolas

[2018-01-29 03:09] enikolas opened #25 "[feture-request] Flip pages with "touch" gesture"
**As a** user of your lib, **I want** to be able to flip accross the pages using touch/click, **so that** I can have a similiar behavior of ereaders as Kindle, Kobo, and so on.

## Acceptance Criteria

- Allow the user to go to the **next** page with a simple touch/click, on the:
	- Horizontal oriented: **right**
	- Vertical oriented: **bottom**
- Allow the user to go to the **previous** page with

[2018-01-29 08:30] darenju commented on #24
This is very weird, I am able to reproduce the issue.

I don't know what could cause this, I will try to work on it.

Thank you for reporting.

[2018-01-29 08:44] darenju commented on #24
Apparently, this is due to `react-flip-page` being compiled for `react@15`. Pushing the react version to 16 and re-compiling works.

I am performing those changes and updating the repository.

[2018-01-29 08:47] #24 closed

[2018-01-29 08:53] darenju commented on #24
@enikolas Can you please confirm the issue is fixed with `react-flip-page@0.10.3`?

I have tried it and it's working, but one more confirm would be cool.

[2018-01-29 10:29] enikolas commented on #24
@darenju It worked! Well done.

Cheers mate!

[2018-01-29 14:56] darenju commented on #25
Are you working on this, @enikolas? Or do you want me to take care of it?

[2018-01-29 15:24] enikolas commented on #25
you can work on it! no worries.

I'm setting up the unit tests, as well as a code clean up (like remove the dist/ dir from git, as it is generated code... and so on)

[2018-01-29 15:28] darenju commented on #25
The `dist/` dir is needed on Git, as it is the imported package. :)

[2018-01-29 15:28] enikolas commented on #25
Oh, and if you don't mind, I would like to set up TravisCI and some NodeJS code analysis bot to improve the process:

- Greenkeeper: automatically update node dependencies and run the tests in the CI to check if it breaks anything
- Code climate: measures the code quality making use of numbers like Complexity/Simplicity, Readability, Maintainability, Repetition and Line-count-per-file...

[2018-01-29 15:29] darenju commented on #25
Do everything you think might be good for the code quality.

I set up a Changelog file today, put some of the last changes in it.

[2018-01-29 15:32] enikolas commented on #25
Like, about the ```dist/```, it not a good practice to check in generated code to git, or any other versioning system.

A better approach is to generate the code (like the webpack bundle) in a CI and them deploy the package to npmjs from there (or even in your machine).

Here are some good practices detailed: [Best Practices for Node.js Development](https://devcenter.heroku.com/articles/node-best-

[2018-01-29 15:34] darenju commented on #25
I didn't know CI could deploy the package to NPM. Good to hear.

I am grateful for the work you are doing on the repo, I will gladly check everything once you send the pr. 👍

[2018-01-30 22:09] darenju commented on #25
This feature has been added in #29.

By default, the actual swipe gesture is disabled, unless the `flipOnTouchAllowDrag` property is specified.

Should it be the other way around? Should the swipe gesture still be allowed and maybe use `flipOnTouchDisallowDrag` property?

[2018-01-31 00:08] enikolas commented on #25
I don't know. I gues you could let both be enabled and let the user use the gesture which better suits him.

My idea on this feature is to allow a good usability on multiple devices, like, phones, tablets, and computers, no mater the size of each device.

I do know that on computers, the swipe gesture is not that natural, so clicking to turn page is more natural and user friendly.  Maybe on mobile

[2018-01-31 09:52] darenju commented on #25
As of `0.13.0`, a few changes were made:

So this matches your expectations @enikolas. The swipe gesture is always enabled, unless specified otherwise with `disableSwipe`. I wrote a warning in the README, saying if you disable the swipe gesture you should provide another way to switch pages, such as `flipOnTouch` or buttons with `gotoNextPage()` methods.

[2018-02-02 03:33] enikolas commented on #25
Sorry, I got busy these days.

I need to do some tests on how it will work on my project. But it seems pretty good.

Thank you al lot for implementing it!

I'm still on my way for the code coverage of your project. I have just sent you a PR with some test written down.

And I have asked you to enable `codecov.io` to display the code coverage at README page, given the proper **HOW-TO** on the PR de

[2018-02-02 11:23] enikolas opened #31 "[feature-request] Responsive width and height"
**As a** user of your lib, **I want** to be able to not specify the width, neither the height of FlipPage component, **so that** the component can have a dynamic size and fit any device screen.

## Acceptance Criteria

- Do not specify the width/height of the component as a required field.
- Make the component resizable thrown CSS styles with `media` breakpoints.
- Test how your component will ren

[2018-02-02 11:24] enikolas commented on #31
I plan to finish the coverage first. Once I have finish that, I can work on this. Unless if you want to start it by now, then fell free to do it!

[2018-02-02 11:28] darenju commented on #31
I have improved code coverage a little bit. `generateStyles.js` is 100% covered, but it takes time to fully cover `index.jsx`. I prefer to work on the responsive part, even though this will probably take time too, as we need fixed dimensions for the CSS effect to work.

[2018-02-02 11:29] #25 closed

[2018-02-02 11:31] enikolas commented on #31
Ok, you can work on this task then.

And I'll focus on fully covering `index.jsx`.

[2018-02-02 11:56] darenju commented on #31
Let's do that. Please rebase from `master` as I have updated code coverage a little bit.

[2018-02-07 17:18] #31 closed

[2018-02-08 08:17] yoonslee commented on #23
@darenju I would love to have an option where pages pivot from the very left (as opposed to the center) to simulate more of a traditional book.

[2018-02-08 08:59] darenju commented on #23
@yoonslee Hmm, that would totally change the way the pages are split into halves. But it's possible to find a way to keep both features I guess.

[2018-02-24 11:23] Selbahc commented on #23
Hi @darenju !
First of all, thanks for your job it's well documented and test-covered. As a newbie I like it ;-)

I'm trying to make nested flipboards to make, for example, a "main" navigation vertical, but with some nested flipboards with horizontal navigation.
When I try doing it, it splits the board in 4 windows, which is not the desired effect.
Any idea in wich part of the codebase I can look

[2018-02-24 23:47] talkingtab commented on #23
Hi, I'm trying to build some video books- each FlipPage could have some mix of possibly text, images, and video.  I get the video, but flipping the page ends up with two halves which are no longer in sync.
![screen shot 2018-02-24 at 2 15 25 pm](https://user-images.githubusercontent.com/47394/36634094-6ad2e5a8-196d-11e8-9b55-4b6baca15ef8.png)

In the screen shot above it is one video, and the page

[2018-02-25 14:30] talkingtab commented on #23
Update on video. I'm wondering if the issue is something to do with the video continuing to play while the transitions are in action. It seems like one possibility is to pause the video on any touch, mouse event so that in a page turn it does not continue to play.

[2018-02-25 16:47] darenju commented on #23
@talkingtab There is a `onPageChange` callback that gets executed when the page has been changed. I could implement a `onStartSwiping` event, so that you could pause your video accordingly.

@Selbahc Thank you for reporting! However, would you mind opening a new issue for your problem? It helps the repository to be cleaner.

Same for @talkingtab, even though we almost solved your problem.

Thank y

[2018-02-25 19:05] talkingtab commented on #23
@darenju  That would be a great help. Just fyi, here is the component I'm trying
[code]

[2018-02-25 22:59] darenju commented on #23
`react-flip-page@0.15.0` released with `onStartSwiping` and `onStopSwiping` callbacks.

In your case @talkingtab, you could do something like this:

[code]

[code]

[2018-02-25 23:18] talkingtab commented on #23
Wow! Thats great, I've got it installed, may take me a couple of days to walk through though. Still seeing the same thing, but not sure I have it hooked up right.

[2018-02-27 17:56] Selbahc opened #38 "Nested Flipboards"
I'm trying to make nested flipboards to make, for example, a "main navigation" vertical, but with some nested flipboards with horizontal navigation.
When I try doing it, it splits the board in 4 windows, which is not the desired effect.
Any idea in wich part of the codebase I can look to try solving that ?

Here is a simple exemple of what I'm trying to achieve :

[code]
Thanks for your time !

[2018-02-28 10:01] Selbahc commented on #23
@darenju Sure, it's done !

[2018-03-03 23:13] darenju commented on #38
Hey sorry for the long reply, busy working for client work currently.

I think what you're trying to achieve is very edge-casey, so not working the way you'd wish.

The fact that it is split into four windows makes sense to me, as there is the vertical part (2 windows), and the horizontal part on top of that (2 windows at the top, 2 at the bottom.)

You could try to look into the `renderPage` meth

[2018-03-15 00:06] talkingtab opened #39 "find a way to make videos work"
Thought I would create a separate issue for this so it doesn't pollute your enhancement issue.  Feel free to close this if you would rather I post there.

I've been out of commission but back to attempting to understand this problem. I was unable to find a way to get better results with the startSwipe, stopSwipe stuff. I'm wondering now if a cleaner approach is to replace the video component with

[2018-03-15 00:07] talkingtab commented on #39
Also I'm seeing a ton of these messages when using Chrome
[code]

[2018-03-15 17:57] darenju commented on #39
Hey @talkingtab, I do believe you have everything needed to do what you want with both `startSwiping` and `stopSwiping` callbacks.

You could use a state part in your child component that would indicate if you render the image, or the video. And this state property would be updated accordingly on `startSwiping` or `stopSwiping`. Do you understand what I mean?

Also, I have not been able to see tho

[2018-03-15 18:34] talkingtab commented on #39
I agree at this point I don't need anything.  The messages come [sigh] when I am using Chrome Canary only. Sorry about that.

[2018-03-16 20:30] talkingtab commented on #39
What I did was to take the react-flip-page code and add an "active" state that is passed as a prop to the children. Basically "if not swiping and this page is the page is the this.state.page then set active true" when doing the cloneElement(). In the component if "active" is false then I just put up and image - a jpg. If the component is active then I put up the video component. This works well if

[2018-03-19 18:05] darenju commented on #39
The idea of an `active` prop is interesting.

However, the concept of `react-flip-page` rendering the component differently following `active` doesn't please me. As you mentioned the prop is passed to the current page, that's what you would use inside your component to render accordingly.

As a drawback, this obliges creation of a child component to use the `active` prop properly.

[2018-03-19 18:14] talkingtab commented on #39
I agree it is not pleasing. For now I am just trying to find a way, any way at all to get it to work. I don't really understand what is going on with the <video/> html element so I a am just trying things at this point. Once I can get it to function and understand the issues then I think will be a good time to find a pleasing solution.

I did try what you suggested, which was to render my componen

[2018-03-19 20:48] darenju commented on #39
I think that's because you set the `active` property on page change only. Which causes the current page to still be active even while moving.

[2018-04-03 15:38] slevy85 commented on #23
Hi,

Thank you for the great repo.

I think it would be nice to have more methods then goToNextPage and goToPreviousPage.
For example getCurrentPage, hasNextPage, hasPreviousPage, others ?

Thank you

[2018-04-03 15:40] slevy85 opened #40 "README : onEndSwiping callback is onStopSwiping"
Hi,

In the readme we have onEndSwiping  but in the code it is in reality onStopSwiping.

Thank you

[2018-04-03 15:42] slevy85 opened #41 "onPageChange behavior"
When I use onPageChange(pageIndex) I see that pageIndex is the previous page and not the page I went to.

For example :
- move to page 0 to 1 --> got onPageChange(0)
- move to page 1 to 2 --> got onPageChange(1)
- move to page 2 to 1 --> got onPageChange(2)
- move to page 1 to 0 --> got onPageChange(1)

Is it the desired behavior ?

[2018-04-03 21:04] darenju commented on #40
Thank you for reporting this issue, I will correct this mistake very soon!

[2018-04-03 21:05] darenju commented on #41
It is not supposed to be the desired behaviour. I will look into it.

[2018-04-03 22:55] darenju commented on #40
[Fixed](https://github.com/darenju/react-flip-page/commit/96f87d287524fc181f5f1fcd5b3dcc18713c0ff3).

[2018-04-03 22:55] #40 closed

[2018-04-03 22:56] darenju commented on #41
[Fixed](https://github.com/darenju/react-flip-page/commit/e27b82287f876883619a52c5f9a8c01542a06b1e).

[2018-04-03 22:56] #41 closed

[2018-04-04 09:48] slevy85 commented on #23
Hi,

Do you think it is possible to revert the direction of the book ?
In other words, the first page will be at the right, we go next by swipping to the left.

Thank you

[2018-04-04 12:39] darenju commented on #23
You can now use the `startAt` property to set the default page. Then just set `orientation` to `horizontal`. Then, you can know which actual page you're on with the `onPageChange` callback, plus some maths:

`<FlipPage onPageChange={(newPage) => { const actualPage = MAX_PAGES - newPage; }} />`

[2018-04-07 09:49] darenju commented on #38
Closing because no activity.

[2018-04-07 09:49] #38 closed

[2018-04-07 09:50] darenju commented on #39
Closing because no activity.

[2018-04-07 09:50] #39 closed

[2018-04-18 19:14] slevy85 opened #42 "The components get rendered too much"
Hi,

I have noticed that the render method of my component in the FlipPage component get rendered very often, even pages that are not displayed :
- on mouse enter/out the flip page
- on click on the page
- every move during the flip

I think this causes the appli to slow down, moreover it seems that the state of the sub component is not kept.

Some code :
[code]

[code]
In this example, I have jus

[2018-04-19 15:05] slevy85 opened #44 "The state of a page is not reflected on the second half"
Hi,

This issue is related to [this one](https://github.com/darenju/react-flip-page/issues/42).

I have noticed that the state of my page is not reflected on every part of it but only in the half that changes the state.

For example, in a page I have a button 'go next' on the right, this button is disabled.
I have an other button which enables the 'go next' button when the user clicks on it. If th

[2018-04-19 19:29] darenju commented on #44
Hey,

I will take a look at your issues this weekend.

Thank you for reporting.

[2018-04-20 17:25] slevy85 commented on #23
Thant you, the `startAt` property helped me a lot. I reverted my pages and started at the end :
[code]

[2018-04-20 17:30] darenju commented on #42
Interesting, I am trying to make this work.

The idea would be that only the wrapper page would stop from re-rendering.

[2018-04-20 17:42] slevy85 commented on #42
Then I think it is a great idea.
What is the way you would implement it ?
I found in [SO](https://stackoverflow.com/a/31564812/6695569) some useful information about high order component that could be a solution for us.

[2018-04-20 18:00] darenju commented on #42
This is exactly what is needed: a higher order component.

This is what I came up with:

[code]

And usage:

[code]

This way, there are much less renders. Components still get rendered even though they are not visible at first: they must be rendered underneath current page.

I plan on releasing this today.

[2018-04-20 23:11] darenju commented on #42
Hey @slevy85, you should try `react-flip-page@0.17.0` as I have implemented said change.

There are no useless renders on page components now: only when halves need to be displayed.

[2018-04-21 06:54] slevy85 commented on #42
Hi @darenju, thank you very much for this great work.

I don't see the package in npm:
`npm ERR! notarget No matching version found for react-flip-page@^0.17.0`
Is it normal ?

[2018-04-21 09:45] darenju commented on #42
There was a problem in travis build. This is fixed: `react-flip-page@0.17.2`

[2018-04-21 09:55] slevy85 commented on #42
Thank you it is working great, there is less renders and it feels faster.

[2018-04-21 10:31] darenju commented on #42
Thank you for reporting this issue, it has helped the package improve performance.

Closing this now.

[2018-04-21 10:31] #42 closed

[2018-04-21 11:41] darenju commented on #44
As you might have found it if you read the code, we need to split the page in two halves so that they can flip separately.

I am afraid there is no simple way to deal with what you are trying to do. Apart maybe to temporarily disable swiping on the component (via `disableSwipe` property) when you are dragging your bowl.

[2018-04-21 11:57] slevy85 commented on #44
I disabled the swipe completely and it doesn't work.
Is it possible to deal with it in css z-index ?
One of the half could be under the other one, so that we only interact with the original component and not the clone. I am not sure if it could works.

[2018-04-21 13:34] darenju commented on #44
Even with swipe disabled, there would still need a clone as the two halves are always needed.

[2018-04-21 13:49] slevy85 commented on #44
Maybe it could be done with [render props](https://reactjs.org/docs/render-props.html) ?
But I am not sure how ...

[2018-04-22 07:20] slevy85 opened #45 "Images are splitted in two"
Hi,

I already mentionned this in the issue about the state, but I think it is a different problem so I make an other issue.
When an image is inside a page on the middle it is splitted :
![image](https://user-images.githubusercontent.com/18260229/39083520-10a705f2-455d-11e8-9141-9e027bcff219.png)

[code]
Page1 :
[code]

I have managed to make this work by removing the `bottom: 0px` on three divs :

[2018-04-22 08:56] darenju commented on #45
Are you using a retina screen, or high DPI screen by any chance? I had noticed this slight shift on some cases. This is often due to the container height. Playing with it, adjusting it even by .5 pixels could solve the issue.

As you can see on the demo page, this problem is not present, because heights are defined properly.

If you are certain this doesn’t affect any other cases (i.e. causing shi

[2018-04-22 10:29] slevy85 commented on #45
I am using these screen, but thank you pointed me to the right direction, it was about my css.
The image where position absolutely on that contained the flip page component, instead I positioned my image on a page that is inside the flip page component :
[code]

[2018-04-22 14:25] darenju commented on #45
So, is everything working correctly for you now?

I had tried to keep in mind every way people could use my component. Therefore, probably all of the CSS is useful. It still might not fit some edge cases, but as it's an open source project, forking is always possible.

Though this gives me the idea to add a `pageStyle` property that would be applied to all of the pages.

[2018-04-22 15:01] slevy85 commented on #45
Yes everything is working thank you, you can close the issue.
Yes it would be nice to have a className associated to every part of the page so we can customize it if necessary.

[2018-04-22 15:03] darenju commented on #45
I will implement this then.

[2018-04-22 15:03] #45 closed

[2018-05-17 05:45] slevy85 opened #47 "Elements with z-index greater than 0 are seen on the pages before and after"
Hey,

I have noticed that when an element on a page has a z-index > 0, I still see it when I turn the page.
Can you reproduce that ?
Do you have an idea how to correct it ?
Thank you very much.

[2018-05-17 10:04] darenju commented on #47
Hello @slevy85,

This is because `react-flip-page` uses `z-index`s to correctly show current page and pages underneath.

Maybe `react-flip-page` should use bigger `z-index` on its pages? I'm not a fan of big (> 999) `z-index`, but the solution is here.

[2018-06-21 11:05] slevy85 commented on #44
Hi,
What do you think about this issue ?

[2018-06-25 20:48] darenju commented on #44
I’m afraid I won’t be able to give you a positive answer for this… This is a very specific use case, and the repo is somehow a showcase. It cannot cover all of the use cases.

[2018-07-04 10:01] DimaBur opened #51 "Page flipping back when mouse out"
I implemented simple demo from docs.
I can flip page by mouse, but when I bring the mouse out of the component, page flips back.
React: 15.6.2
Here is the [video](http://take.ms/lUoKY).

[2018-07-04 11:59] darenju commented on #51
Weird behavior. There might be a problem with the `mouseout` event handler. I will look into this.

Thanks for reporting.

[2018-07-05 10:04] darenju commented on #51
I can’t seem to reproduce this behavior on [the demo page](http://darenju.me/react-flip-page/examples).

Would you mind providing a sample repository?

[2018-07-05 10:14] DimaBur commented on #51
It's very strange but it's reproduсeing not always, and I can't find conditions. But I found why its happens.

`src/index.jsx:372`

`mouseLeave() {
    if (this.props.flipOnLeave) {
      this.stopMoving();
    } else {
      this.reset();
    }
  }`

If remove `this.reset();` this bug will disappear, but `loopForever` prop will not work.

[2018-07-08 08:13] slevy85 opened #54 "Add a way to go directly to a page"
Hello,

I have a use case to implement where the user would click on a link in the begining of the book wich leads him to a specific page in the page.

I have tried to increment the page in a for-loop with `gotoNextPage()`, I am able to go to the wanted page but it makes every pages appear and swipe until the good page appears.

Is there a way to go to a page directly without showing every page ?

[2018-07-08 20:18] darenju commented on #54
There is the `startAt` prop, but from what you wrote, I'm guessing you need this to be dynamic.

This would add a very simple method that would simply set the current page to another value.

[2018-07-08 22:36] darenju commented on #54
@slevy85 I published `react-flip-page@0.18.0` introducing `gotoPage` method.

[2018-07-10 06:08] slevy85 commented on #54
Thank you very much for this !

[2018-07-10 07:20] #54 closed

[2018-07-28 14:34] slevy85 opened #55 "onStartSwiping event is fired on a simple click"
Hi,
I have noticed that the onStartSwiping event is fired on a simple click, it seems to me that it is too fast. What do you think if there was something like a threshold, the event is fired would be fired only if the users keeps his mouse down and mov a little bit ?

[2018-07-29 19:53] darenju commented on #55
It could be triggered on the first time moving, true.

I'll work on that.

[2018-07-29 22:56] darenju commented on #55
Done on `v1.1.0`.

[2018-07-29 22:56] #55 closed

[2018-07-29 22:56] #47 closed

[2018-07-29 22:56] #44 closed

[2018-07-30 07:12] slevy85 commented on #55
Thank you very much !

[2018-07-30 10:49] slevy85 commented on #55
Do you think it could be possible to use the treshold too ?
I mean that if the user uses a 50px treshold, the startSwiping callback would be fire when the users swipes 50px.
What do you think ?

[2018-07-30 10:58] darenju commented on #55
Yes, we could use the `treshold` prop as defined on the component.

[2018-07-30 15:11] darenju commented on #55
@slevy85 I implemented the change in `v1.2.0`.

[2018-08-18 10:12] kyunkakata opened #59 "Can't find variable : document"
I stucked at this issue when i used FlipPage for my react-native app run on android device. Please show me how to fix this issue

[2018-08-18 10:40] darenju commented on #59
Hello,

This package is *NOT* compatible with react-native. Please check out [react-native-flip-page](https://github.com/darenju/react-native-flip-page) instead. I just started developing it, only tested on iOS device. I will provide documentation soon.

Here is a basic sample code for it:

[code]

[2018-08-19 12:57] muhamad-rizki opened #60 "component for react native version"
can you make the same component for react native version, please? im looking for this kind libray, but i only find this one, i'd appreciate it so much if you can implement this to react native,
thanks in advanced

[2018-08-19 14:05] darenju commented on #60
Hello,

It is already in development, please check out [react-native-flip-page](https://github.com/darenju/react-native-flip-page). API surface is currently limited to `orientation` prop.

[2018-08-19 15:05] #60 closed

[2018-08-19 15:05] #59 closed

[2018-08-21 08:27] kyunkakata commented on #59
Thank you darenju. I will try react-native-flip-page

[2018-08-22 22:12] pravinarr opened #61 "Does it support Server Side rendering ?"
Hello,

I am creating a SSR react application with express server. I tried to include flip page animation but ended up getting the following error t.defineProperty(o,"defa

ReferenceError: window is not defined
    at Object.<anonymous> (/Users//git///node_modules/react-flip-page/dist/index.js:1:316)
    at Module._compile (module.js:577:32)
    at Object.Module._extensions..js (module.js:586:10)

[2018-09-09 17:49] Satwa commented on #23
Hello, the package looks really awesome!
Before starting my app I'd like to know if there's a way to add/remove pages dynamically or a way to make scroll infinite by looping available pages?

[2018-10-14 23:59] redferret opened #74 "gotoPage index doesn't make sense"
I try using `gotoPage(1)` and it's not page 1 it's the second page but when I try `gotoPage(0)` I get the expected RangeError. So why is the very first page not the actual first page?

[2018-10-15 00:45] #74 closed

[2018-10-18 02:40] redferret opened #75 "Can't navigate with gotoPage to cover page"
It's very confusing that when I print out the index of page 1 it says 0. Even though we can't use `gotoPage(0)` as it throws an error, that page is indexed as 0. Going to page 1 technically goes to page 2. Can this be fixed?

[2018-10-27 03:44] mcarreon opened #76 "Right side of page background cut off."
The background color gets cut off on the right side of the page even when set to height 100%.

Image of issue: [image](http://puu.sh/BRDaB/0ab36847be.png)

I'm got around it by using a css selector, but that has a delay in filling the component.
.storybook is a classname of FlipPage
[code]

Is this a possible fix? In react-flip-page/generateStyles.js the object on line 82

[code]

[2018-10-28 22:56] mcarreon opened #77 "Page skip and cancelled animation on page navigation multiple press"
# Background
I have gotoNext() and gotoPrevious() as onClick events for buttons.

## Issue

When either button is pressed multiple times before the animation completes on a unique page, the page index skips in the respective direction.

## Effects

* Page index skips
* When moving backwards or forward, if clicked enough to reach past the end of the index, it loops back to the beginning.
      * Th

[2018-10-28 23:21] mcarreon opened #78 "Animation bug when mouse passes center during animation"
# Background

I had this issue with all modes of nav; restricting nav to buttons, swipe navigation, and click navigation

## Issue

When the mouse exits the component container the animation starts and prematurely ends.

## Effects

Animations cuts off prematurely but the page still changes.
[vid of issue](https://drive.google.com/file/d/1CLaAcjsFGzrVwsXO59lQnFRhF4BPmfiB/view)

[2018-10-28 23:30] #78 closed

[2018-10-28 23:31] mcarreon commented on #51
Was there any resolution to this bug? I opened a similar issue and just saw this post.

[2018-10-29 16:45] darenju commented on #77
Hello @mcarreon, you can use the `onPageChange` callback to re-enable your button. On click, use a state entry that holds either the button can be clicked (e.g. `canClick`), set it to `false`, and assign your `disabled` prop on button accordingly (`!canClick`). On the `onPageChange` callback, re-enable the button by setting `canClick` state member to `true`.

[2018-10-29 16:47] darenju commented on #76
Have you tried your fix? Also, `100%` should be in quotes on the `height` property.

[2018-10-29 16:49] #75 closed

[2018-10-29 16:50] darenju commented on #75
Hello @redferret, sorry for not noticing your issue earlier.

This was a typing mistake in the condition of the `gotoPage` range check method. This should be fixed in `1.2.1`.

[2018-10-29 23:20] mcarreon commented on #76
Hello! Yeah I tried out the fix, it seems to work and didn't seem to break
anything

On Mon, Oct 29, 2018, 9:51 AM Julien Fradin <notifications@github.com>
wrote:

[2018-10-29 23:22] mcarreon commented on #77
Is there any way to do it without using disabled? I'm using a custom icon
component that doesn't recognize the disabled property

On Mon, Oct 29, 2018, 9:48 AM Julien Fradin <notifications@github.com>
wrote:

[2018-10-29 23:37] darenju commented on #77
@mcarreon Just put it in an actual `button` tag, it's better for UX anyway.

But I agree there should be a state property inside the `FlipPage` component that says if you can move or not. Going to work on that.

[2018-10-29 23:56] darenju commented on #76
Your fix should be implemented in `v1.2.2` @mcarreon. Care to check out?

[2018-10-29 23:56] darenju commented on #77
I made a fix for this in `v1.2.2`. @mcarreon Care to check out?

[2018-10-30 04:13] mcarreon commented on #77
I haven't converted them to buttons yet, will do that soon, thanks for the suggestion.

I tried it out, the issue still seems to happen. Is there a way to block the page index changing on method spam? The pages are double incrementing on double click

I think the animation bug might be due to these lines in index.jsx, as the animation seems to cancel on a second method press.

[code]

I'll be work

[2018-10-30 04:14] mcarreon commented on #76
Looks good!

[2018-10-30 04:14] #76 closed

[2018-10-30 08:35] darenju commented on #77
So, has the behavior actually changed? Is there any evolution from what was done before?

The index shouldn't even change before the previous animation has completed.

[2018-10-30 11:12] mcarreon commented on #77
Visually the behavior is the same as before, I did see the added canAnimate state toggle from true to false.
It seemed like the index changed after the animation completed, but the spammed increments still went through

[2018-11-01 07:11] slevy85 opened #80 "Module build failed: Error: Cannot find module '@babel/core'"
Hi,

When I switch on the version 1.2.1 or 1.2.2, I have this error on compilation :
[code]

When I go back to 1.2.0 it works normally.

I have notices a difference in package-lock.json between the two versions, we have now babel as a requirement :
[code]
version 1.2.0 :
[code]
I am working on Linux Fedora 28, npm version 6.4.1, node 8.12.0.

Do you think it can be fixed ?

Thank you very much.

[2018-11-13 02:53] greenkeeper[bot] opened #81 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/darenju/react-flip-page/compare/master...darenju:greenkeeper%2Fmonorepo.react-16.6.2).

This v

[2018-11-17 04:33] ambarishpande commented on #51
@DimaBur @mcarreon I am facing the same issue. Do we have a work around for this ?

[2018-11-18 12:17] mcarreon commented on #51
This worked for me, still not sure what the repercussions are but it worked as intended.

[2018-11-22 12:25] daaku opened #82 "Between 1.2.0 and 1.2.2 mouse/click based turning broke"
Flipping pages with the mouse doesn't work, it's hard to explain besides saying that you need to try it. I noticed the examples at http://darenju.me/react-flip-page/examples are also using an older build and work right. Another data point is that it still works when using the `gotoPreviousPage` etc methods.

[2018-11-22 13:30] yoavgurevich commented on #82
I can also confirm this is an issue for me with the latest update... Could this have anything to do with the `index.jsx` constructor missing a binding call for the two functions `goToNextPage` and `goToPreviousPage()`?

[2018-12-01 10:18] darenju commented on #80
Hello,

It's weird I didn't get any notification from this repo… let me take a look at this issue, it shouldn't be long.

[2018-12-01 10:20] darenju commented on #82
Hello,

This shouldn't have a link with the two methods missing a binding, as they are never called inside the code base if I'm not mistaken.
So are you saying the basic functionality is broken? That holding down the mouse button and flipping up and down doesn't switch pages anymore?

[2018-12-01 10:31] daaku commented on #82
Yep, using the react 16.6.3 and react-flip-page 1.2.2 results in basic functionality being broken for me.

[2018-12-01 10:35] darenju commented on #82
Hey @daaku, thank you for reporting this quick.

I have looked into the code base and actually, the `canAnimate` property was messing it up. It was effectively reset in the `reset` method, but its value wasn’t reset properly before animating the page switch. I have fixed this, and will now try to build with `react@16.6.3` to see if any side effects happen.

[2018-12-01 10:54] darenju commented on #82
There should be a version `1.3.0` online soon with this bug fixed.

Please tell me @daaku when you have time to test it out.

[2018-12-01 12:38] daaku commented on #82
Just tried it -- looks fixed like it's fixed -- thank you!

[2018-12-01 17:56] #82 closed

[2018-12-01 17:56] #81 closed

[2018-12-01 17:56] #61 closed

[2018-12-02 15:00] slevy85 commented on #51
I am also experimenting this with version 1.2.2 and react 16.6.3, it works fine on 1.2.0.

[2018-12-02 15:02] slevy85 commented on #80
Yes I cannot reproduce it every time, maybe I was on a project with an old react version...
Anyway, is it normal to have babel as a dependency ? I thought babel was only in the dev/build phase ?

[2018-12-02 15:09] darenju commented on #51
If several people can confirm the bug disappears when removing the `this.reset()` in `mouseLeave` method, then I might remove it from code and release a new version.

[2018-12-02 15:10] darenju commented on #80
You’re right, it should not be included in dependencies. I will try to remove it and build again to see if it changes anything.

[2018-12-02 15:55] slevy85 opened #83 "support right-to-left direction"
Hi,

we already had this discussion here and you gave me a [solution](https://github.com/darenju/react-flip-page/issues/23#issuecomment-383165856), but it is not efficient in term of loading because we start loading the last page.
It happens because when I want them to be right to left, I reverse them in `<FlipPage>` component and use `startAt`  property to begin at the end.
The result is that the

[2018-12-02 16:06] slevy85 commented on #51
I have tried to use ` flipOnLeave={true}` and didn't change anything. Should it have the same effects than to remove `this.reset()` in the method ?

[2018-12-03 00:02] darenju commented on #51
Do you mean the behavior of the component should change? Yes, it should. If you flip the page at least half of the way and the mouse goes out of the component, the page should flip if `flipOnLeave` is `true`.

[2018-12-04 14:35] daaku opened #85 "Children rendered multiple times"
I'm not really sure why, but it seems like the children of `FlipPage` are rendered several times. Here's a sample that logs when each child is rendered:

https://codesandbox.io/s/r778z39z5o

[2018-12-08 21:51] darenju commented on #85
Hi,

This is strange, but not that surprising because the pages have to be rendered several times to be flipped. But, I see you are not using the `FlipPageItem` component. You should try to use it, it might help.

[2018-12-08 21:51] darenju commented on #83
Hey! Thank you for this, I'll check the PR when you send it.

[2018-12-08 22:08] #80 closed

[2018-12-08 23:37] darenju commented on #83
This feature has been merged thanks to @slevy85 and is now available in `react-flip-page@1.4.0`.

[2018-12-08 23:37] #83 closed

[2018-12-09 07:49] slevy85 commented on #83
Great, thank you very much

[2018-12-09 15:40] yoavgurevich opened #86 "`flipOnTouch` Buttons do not work + Errors on swipe animations"
As of latest version 1.3.0 attempting to use the `flipOnTouch` option buttons does not work, at least with mouse clicks. I have left the rfpTouchZone property at its default value as well.

Second issue is that while swiping back and forth, these error stacks keep popping up intermittently:

![rpf_err_stack](https://user-images.githubusercontent.com/2465960/49699386-7ddf7080-fb9e-11e8-9a89-8df8577

[2018-12-09 16:03] slevy85 commented on #85
Hi,
I think it is related to #42.

[2018-12-09 16:11] slevy85 opened #87 "Disable swipe on elements with a specific className"
Hi,

Is it possible to disable swipe on specific elements based on there className ?

My problematic is that I have images I need to drag and drop in a `FlipPage` child, when I drag it, it swipes also the page.
I think I can use `disableSwipe` property  when I am dragging, but I think that there could be an easier solution.
What do you think ?

[2018-12-10 10:34] slevy85 commented on #87
Hi,

I have tried it and it is not working, I suppose because my element has many classes.
I think this means the element must have only class that matches one of the swipe Immune :
[code]
Can we make it in the reverse way ? Swipe Immune is one string, and we test if it is in one of the classes of the element ?
Or maybe it is two arrays, and we must check if any of one is in the other.
What do you

[2018-12-10 10:46] darenju commented on #87
Oh, sorry, my condition is not good enough. It should be `className.indexOf(testedClassName) !== -1`. I’m fixing it.

[2018-12-10 10:47] slevy85 commented on #87
Great thank you very much

[2018-12-10 11:02] darenju commented on #87
@slevy85 Can you try `react-flip-page@1.5.1` please? The issue should be fixed.

[2018-12-10 11:14] slevy85 commented on #87
Yes thank you it is working but there is another problem, the dragging works bad, it is like the mouse event is not correctly send to the package I use (react-draggable).

It is strange that when the swipe takes effect the drag works correctly, and when the event is cancelled it doesn't work.
As a note, when the swipe is disabled completely, the dragging works good.

I have no idea why, I will try

[2018-12-10 11:53] darenju commented on #87
Is there any other impact on this?

[2018-12-10 11:58] slevy85 commented on #87
I don't think so, test suite is ok.

[2018-12-10 12:08] slevy85 commented on #87
no I am wrong testsuite is not ok

[2018-12-10 12:10] slevy85 commented on #87
The test 'should stop if event is on a button or a link' fails

[code]
Maybe we should test weither the state has been modified or not here, what do you think ?

[2018-12-10 12:25] darenju commented on #87
I think what you wrote would prevent the links and buttons to be clicked. That’s why the test checks if `event.preventDefault()` was not called. Otherwise, the buttons could not be clicked. Maybe `doNotMove` (shortcut for `event.preventDefault()`) should be called only in the `swipeImmune` case? But what if a button has a `className` that matches the `swipeImmune` prop… ?

[2018-12-10 12:30] slevy85 commented on #87
Yes I understand what you mean I didn't think of this.
I think you are right we can call donotMove only if it is a `swipeImmune` class.
For the buttons and link it would be ok because the `return` would me made before.
Something like this :
[code]

[2018-12-10 12:31] darenju commented on #87
Yes, I think that could solve it. I’m releasing this.

[2018-12-10 12:43] darenju commented on #87
It’s now available under `react-flip-page@1.5.2`.

[2018-12-10 13:48] slevy85 commented on #87
Thank you it is working great.
I have tried to verify that the `onClick` event were still working and it does, even on an element with `swipeImmune` class.
I think it is `onMouseDown` and `onTouchStart` that would be cancelled.

[2018-12-10 14:13] darenju commented on #87
If I’m not mistaken, cancelling both those event would prevent the click to happen. It’s better not to interfere with the event flow of a click, I think…

[2018-12-10 15:08] slevy85 commented on #87
Yes it is better not to interfere you are right

Le lun. 10 déc. 2018 à 15:13, Julien Fradin <notifications@github.com> a
écrit :

[2018-12-10 15:08] slevy85 commented on #87
Yes it is better you are right. You can close it thank you very much

[2018-12-16 19:10] yoavgurevich commented on #86
@darenju Thank you and sorry for the delay. The buttons are working perfectly as of the latest version but the error stacks above still occur intermittently. Here is the code I am currently using with flip-page:

[code]

The subcomponents simply return article tags and some conditionally rendered html content. The `resolveBg` function takes strings or the current page number (optional) and maps th

[2018-12-16 21:55] darenju commented on #86
This might probably not be related to anything you wrote in the component.

However I don’t quite see where the issue could come from in the `FlipPage` component… do you have any more specific action to do to show those error stacks? What you could do is download the source code of this project and use the `src/index.jsx` as import for `FlipPage` component. If the issue is `react-flip-page`-relate

[2018-12-18 22:03] hiteshsahu opened #89 "Horizontal flip not working"
I tried setting horizontal flip but it dosent seems to work

[code]

[2018-12-18 22:06] hiteshsahu commented on #89
Its working now, seems like issue iwth bundle creation on local machine

[2018-12-18 22:06] #89 closed

[2018-12-19 13:36] darenju commented on #86
I think it is the second issue. It’s weird, I thought `pageX/Y` were supposed to work in any browser. Which version of Chrome are you using? I will add more checks on this part.

[2018-12-21 12:09] yoavgurevich commented on #86
@darenju as of version 1.5.3 I can confirm all issues have been resolved, many many thanks! Please feel free to close the issue.

[2018-12-21 12:12] #86 closed

[2018-12-26 21:44] namannehra commented on #85
@darenju I have made a react component similar to this one. I ran into the same issue. It's not possible to create the page turning animation without rendering the children multiple times but some issues can be resolved by hiding duplicates properly. Right now it's possible to move focus to a duplicate hidden child by hitting the tab key. This will cause issues for keyboard navigation and screen r

[2018-12-28 09:40] darenju commented on #85
Hey @namannehra, I had seen your component some day.

Thank you for the tip, I will implement it later.

[2019-01-09 15:45] hiteshsahu opened #91 "Flip page cut the buttons and video controls"
A full screen video or button control gets cut into half in horizontal swipe mode. Clicking on a full screen button will trigger click on half part of button while other half remains as it is thats weird.

https://codesandbox.io/s/5zw2wnknnl

<img width="1025" alt="screen shot 2019-01-09 at 16 44 26" src="https://user-images.githubusercontent.com/4076925/50910338-e6d03780-142d-11e9-8ce2-caa27509e2

[2019-01-31 09:49] chughashish47 opened #92 "Flip Creating Issue In Iphone after generating ipa"
**How to reproduce**

Create a project from scratch using create-react-app:

npx create-react-app reproducing-issue
cd reproducing-issue
Install you dependency from npm:

npm i -P react-flip-page
And, inside src/App.js, change the content to be:

import React, { Component } from 'react';
import FlipPage from 'react-flip-page';
import './App.css';

class App extends Component {
  render() {
    ret

[2019-01-31 12:30] darenju commented on #92
Hello,

This problem has already been reported by someone directly to me via email. I have faced the same issue, but don’t have any problem running the package from a basic webpack setup. As you can see on [the demo page](http://darenju.me/react-flip-page/examples), the package is working correctly, with the latest version installed.

The issue doesn’t come from `react-flip-page`, but I must admit

[2019-03-02 00:39] chobo2 opened #94 "Back and Forward Buttons?"
Hi

I am evaluating this plugin.  I am basically trying to create a flip book. Where All pages will have multiple Images on them.  I want to be able to have an arrow handle bar on each side. Is this possible to do?

[2019-03-02 00:41] chobo2 opened #95 "Will This work with IE 11?"
The example pages are not loading up in IE 11. will this plugin work with it?

[2019-03-02 01:02] darenju commented on #94
Yes, you can do back & forward buttons, by using [the methods](https://github.com/darenju/react-flip-page#methods).

[2019-03-02 01:11] darenju commented on #95
It should work with IE11. But to be honest I am not supporting this browser.

[2019-03-02 07:49] greenkeeper[bot] opened #96 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.14.1` to `5.15.0`.

🚨 [View failing branch](https://github.com/darenju/react-flip-page/compare/master...darenju:greenkeeper%2Feslint-5.15.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **mi

[2019-03-03 21:49] chobo2 commented on #95
@darenju

I wish I did not have to support it either. Do you know why this example page of yours is not working in IE11? http://darenju.me/react-flip-page/examples

I see no errors so not sure if it is your plugin or the example site.

[2019-03-03 23:23] darenju commented on #95
The problem comes from the bundle, so it might just be because of babel. I might need to add some polyfills. I will check on that later on.

[2019-03-04 17:30] chobo2 commented on #95
@darenju

That would be appreciated. Thanks.

[2019-03-06 01:26] greenkeeper[bot] opened #97 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.8.3` to `16.8.4`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.8.3` to `16.8.4`.

🚨 [View failing branch](https://github.com/darenju/react-flip-page/compare/master...darenju:greenkeeper%2Fmonorepo.react-20190306010033).

[2019-03-06 10:48] #96 closed

[2019-03-06 10:48] #97 closed

[2019-03-06 10:48] #94 closed

[2019-03-06 10:48] #92 closed

[2019-03-06 10:49] darenju commented on #91
No info on this, closing.

[2019-03-06 10:49] #91 closed

[2019-03-15 13:25] kkomelin opened #98 "Issue: Single touch causes double flip with flipOnTouch enabled"
### Problem

Single touch causes flip of two pages at once with flipOnTouch option enabled.

### Environment

[code]

**Settings:**
[code]
**Browsers:**
- Chrome mobile
- Chrome desktop (with mobile device emulation)
- Firefox (Responsive Design Mode)

**Code example:**
https://codesandbox.io/s/1z1pkoz903

### How to reproduce

Open this sandbox https://1z1pkoz903.codesandbox.io/ in one of the bro

[2019-03-15 13:49] darenju commented on #98
Hello,

Thank you for this very detailed issue. I will take a look at it this weekend as I am busy working on client project.

All of the details you provided should help me a lot to resolve this issue.

[2019-03-15 14:44] kkomelin commented on #98
Thank you so much @darenju . And best of luck with your client project.

[2019-03-18 09:02] abelvii opened #99 "how to add a page after component render"
hey bro,
thanks for your work

I want to add page after i get some page, those page are some html code.And it is very large. So i wanna know is there a method to add a page async

[2019-03-18 10:53] darenju commented on #99
Hello,

Have you tried something already? There is no reason you could not do some dynamic rendering inside the `FlipPage` component and have it re-render all of the pages. You should hold the current page position in the state of your component to prevent it from going back to the first page when you render the new pages though.

[2019-03-18 11:42] abelvii commented on #99
thanks for your reply!
yeah, I have tried some way that I can imagine,but they are not work, and it is not dynamic rendering, because I have to get html code from back end server.

[2019-03-18 11:47] darenju commented on #99
You should store that HTML code in your state.

This way, when you retrieve it, you put it in the state, and the component will re-render because of it. Something like this :

[code]

Note that your HTML code should be separate tags for pages to be rendered.

[2019-03-18 12:41] abelvii commented on #99
thanks for your help, it is help me a lot! :)

[2019-03-18 12:41] #99 closed

[2019-03-18 19:11] darenju commented on #98
I think I have found what could cause the issue.

Version `1.5.4` was published, would you mind checking if the issue still persists?

Thank you.

[2019-03-18 20:56] kkomelin commented on #98
Thank you @darenju for your efforts. Unfortunately, it still has the issue on touch devices.
I updated my sandbox to reflect the version change https://codesandbox.io/s/1z1pkoz903

[2019-03-18 21:47] kkomelin opened #100 "The onPageChange event is not fired when gotoPage(N) is called"
Hi there,

I have noticed that `gotoNextPage()` and `gotoPreviousPage()` trigger `onPageChange` event but `gotoPage(N)` does not.
Is it a feature or a bug?

Thanks,
Konstantin

[2019-03-18 23:51] darenju commented on #100
Simple oversight from me.

Added it in `1.5.5`.

Thanks for reporting, @kkomelin.

[2019-03-19 00:31] darenju commented on #98
I ended up giving up on touch events for the flip zones.

Now only the mouse events are present, but the flip zones should still work. Published a new version, `1.5.6`.

[2019-03-19 06:34] kkomelin commented on #100
Thanks @darenju. Tested. It's functioning properly now.

[2019-03-19 06:35] #100 closed

[2019-03-19 06:44] kkomelin commented on #98
It seems like swipe stopped working on mobiles with flipOnTouch enabled. Tested in Chrome mobile emulator (aka responsive testing tool). I updated my sendbox.

A couple of thoughts:
- You don't have to release a new version just for me to test. We could work in a separate branch or even in the master until you're sure it's ready to be released (code tested, docs updated, etc.).
- Let's maybe take

[2019-03-19 06:47] kkomelin commented on #98
By the way, you donate link/button in the README doesn't work.

[2019-03-19 10:52] darenju commented on #98
From what I see, the problem only happens when you want to start swiping from one of the touch zones.

I will check that.

[2019-03-19 13:23] kkomelin commented on #98
Thanks @darenju .
I did `npm install` and then `npm run build` and I got the following error:
[code]

[2019-03-19 14:31] darenju commented on #98
Yes, there is definitely something missing here, but it should be in the `package.json` devDependencies... I will check.

[2019-03-19 15:39] kkomelin commented on #98
Tested 1.5.7. Thanks.
Swipe and touch work well together on mobiles, but when I try to swipe over touch zones on desktop it doesn't work.

[2019-03-19 16:35] kkomelin commented on #98
Also tested 1.5.7 on iPhone. Touch doesn't work.

[2019-03-19 21:48] darenju commented on #98
I am really puzzled as where the problem is coming from... I might need some help to see where the issue is.

The original issue was that page flip on touch zones touch was triggered twice, I deducted it was because of double events `touch`/`mousedown`. Removed the `touch` one, worked, but now it is conflicting with the basic behavior of the component...

[2019-03-20 08:05] kkomelin commented on #98
I think we're quite close to the resolution. Just need swipe over touch zones working and Apple Safari supported.
Anyway, you've done a great job in investigating the issue and trying different solutions. Thanks for that!

[2019-03-26 01:31] strarsis opened #102 "Demo on Codepen"
I mainly want to use this component for the flipping effect and for turning pages on a traditional website.
It doesn't seem to be possible to make it running as demo on Codepen, see https://codepen.io/strarsis/pen/JzVGmW:
[code]
`react`, `react-dom`, `prop-types` and `react-flip-page` have been added as external resources using `unpkg`.

[2019-03-26 11:39] darenju commented on #102
Hello,

Thanks for pointing that out. Thing is, `process` is never used in `react-flip-page` codebase.

However, @kkomelin managed to make it run in CodeSandbox, you can try it on a sample URL he shared on #98: https://codesandbox.io/s/1z1pkoz903

That should fit your needs, I guess.

[2019-03-26 12:39] kkomelin commented on #61
This may give an idea for those who are still in search https://github.com/zeit/next.js/wiki/FAQ
Briefly:
1) You may want to use dynamic imports of Next.js https://github.com/zeit/next.js/pull/1750
2) Or this project for custom SSR server https://github.com/kadirahq/react-no-ssr

[2019-03-26 15:29] #102 closed

[2019-03-26 15:31] strarsis opened #103 "Paper-like effect"
Currently all pages are like hardcovers/very stiff paper.
[turn.js](https://github.com/blasten/turn.js/) got also an effect [for soft, waving paper](https://github.com/blasten/turn.js/blob/master/turn.js#L1192).
Is it possible to implement this, too, ideally for the pages in between as usually in the real world?

[2019-03-26 17:46] darenju commented on #103
As the introduction of `react-flip-page` suggests, this component just mimics the Flipboard® page turn effect.

So this will not make it in `react-flip-page`.

[2019-03-26 18:37] strarsis commented on #103
@darenju: OK, but couldn't the scope be a bit changed so it also supports paper? 😸

[2019-03-27 01:32] darenju commented on #103
No, the scope will not change.

The goal is to keep the package as small and feature-focused as possible.

[2019-03-28 07:48] roniash101 opened #104 "Flipping not working correctly on IOS Ipad/Iphone"
*A video which shows the bugs is attached.
[react-flip-page-bugs.zip](https://github.com/darenju/react-flip-page/files/3016721/react-flip-page-bugs.zip)

**Description**
When flipping left-to-right, before the page is changed, half of the page is hidden by the previous page for a second and only than the rest of the page appears.
Another problem is that when flipping (again on Ipad/Iphone), fixed

[2019-03-28 10:24] darenju commented on #104
Hello, I see you are using images on your project. What we see is probably the loading time for the image. You should try reducing their weight as much as possible (using tinyjpg or such), to avoid that flickering effect.

As for the home icon, you could use a bigger `z-index` if you want it always on.

[2019-03-28 12:41] roniash101 commented on #104
Hi, first, thanks for answering!

About both of the bugs - we're using the same code in Android and it works perfectly there, so it's unique to IOS for some reason..

We have already reduced the size of the images and it didn't solve the problems, and I'm actually not sure it has something to do with the loading time of the image cause it only happens when flipping backwards in the English version

[2019-03-28 14:09] darenju commented on #104
Do you have the same problem if you use `vertical` as `orientation`? This could help me isolate the issue

[2019-03-31 12:28] roniash101 commented on #104
We tried `vertical as orientation`, and this is what happend: (the images are still `orientation horizontal`, but the flipping is vertical).

[vertusal_orientation.zip](https://github.com/darenju/react-flip-page/files/3026571/vertusal_orientation.zip)

By the way, this `orientation vertical` behavior happens also with Android and not just with IOS.

[2019-04-03 07:00] roniash101 commented on #104
Do you have any idea how can we solve that?

[2019-04-03 10:46] #103 closed

[2019-04-03 10:46] #85 closed

[2019-04-03 10:48] darenju commented on #104
What you are showing is very weird. You seem to have the `showHint` enabled, we can see it at the beginning of the video. However, only half of the page is moving.

Would you mind showing some code?

Also, would you have any conflicting CSS with the component?

[2019-04-03 10:48] #51 closed

[2019-04-03 15:21] roniash101 commented on #104
Hey! We think that we have spotted the problem. After playing with the inspect elements, we noticed that changing the `rotateY(180deg)` of the 2ndChiled of the 3rdChiled  of the `div` with `role: presentation` and `display: block`, to `rotateY(-180deg)` fixes the bug:

Now we're trying to implement this to the code. If you could help us with some direction or instructions it will be great.

[2019-04-03 15:31] darenju commented on #104
Hey,

It’s cool you seem to have found origin of the issue. If you feel like making a PR, please clone the repo then work on a separate branch, for clarity reasons. Other than that, if it is in the presentation part, you should take a look at the `renderPage` method (line 456 as of now).

[2019-04-03 15:35] roniash101 commented on #104
And about the code you asked:
This is our FlipPage component:
` <FlipPage
                    className={this.t("swipeClass")}
                    responsive={true}
                    ref={(component) => { this.flipPage = component; }}
                    orientation="horizontal"
                    reverse={this.t("reverse") === "true"}
                    showSwipeHint={this.pageIndex === 0 &&

[2019-04-07 15:38] roniash101 commented on #104
Unfortunately, apparently it was not the problem and we are still stuck :(

[2019-04-08 08:39] roniash101 commented on #104
Hey, we don't really understand how, or what we did for it to happen, but the problem somehow got solved!!!

[2019-04-23 21:39] AKluger opened #105 "Changing Background Color"
Hi, I have written a children's picture book with text rendered underneath the images.  In attempting to alter the background color, I have applied one using style={bookStyle} much like you have utilized {endStyle} in your demo, and though upon inspection in devtools the background color on the Flip Page div is computed, it still shows up white.  I understand that there are actually multiple divs

[2019-04-23 22:13] darenju commented on #105
Hey, did you miss the `pageBackground` property?

[2019-04-23 23:52] AKluger commented on #105
ugh apologies..  works as intended and thank you for the quick response.

[2019-04-23 23:52] #105 closed

[2019-04-24 07:41] darenju commented on #105
No worries!

I’m thinking about showcasing the component, would you agree to give a link to an online usage of it?

[2019-04-24 07:42] darenju commented on #104
Great!

Closing this then.

[2019-04-24 07:42] #104 closed

[2019-04-24 12:43] AKluger commented on #105
Hey I would absolutely be willing to share, however as you will see from
this link I am still struggling with the responsiveness.  Currently in
larger desktop windows the text is cut off and the book zoom further in the
image as you enlarge the window.  But here it is, a book for young children
about cleaning up their neighborhood:

https://winc-stories.herokuapp.com/prettybooks

On Wed, Apr 24, 2

[2019-04-25 12:42] kkomelin opened #106 "Issue: Two-sided video"
### Problem

A video fragment from Youtube posted on a page are split into two pieces which can play independently of each other.

### Environment

[code]

**Settings:**
[code]
**Browsers:**
- Chrome
- Firefox

**Code example:**
https://codesandbox.io/s/0xq9l37p1w

### How to reproduce

Open this demo https://0xq9l37p1w.codesandbox.io/ and try to play the video on the first page. You will see that

[2019-04-25 18:42] darenju commented on #106
Hey,

You're right about your assumption: since the pages are cut in half, when using non-static content, only one part will be reflected.

In the particular case of a video, maintaining the two parts in sync could be very tricky, as you would hear the sound twice.
I think I will add a warning on the README page.

[2019-04-25 19:50] kkomelin commented on #106
Hey Julien,

Thank you for your prompt response and the information. You're demonstrating a great support approach.

Yes, I have to agree that playing two parts in sync would be a tricky task but thanks for the idea.
I had another idea to forcefully open fullscreen mode on click but in that case user would anyway notice the difference between two parts when she would come back from fullscreen.
So

[2019-06-16 12:18] #77 closed

[2019-07-21 13:52] stacygohyunsi opened #112 "When using swipeImmune, there is an error that says "index.js:1 Uncaught TypeError: this.props.swipeImmune.some is not a function""
This is how I am using the swipeImmune attribute:
<img width="713" alt="Screenshot 2019-07-21 at 9 51 51 PM" src="https://user-images.githubusercontent.com/10786795/61592142-c6194380-ac01-11e9-96ba-c08cf1e18842.png">

But I seem to get the error: "index.js:1 Uncaught TypeError: this.props.swipeImmune.some is not a function"

And all of my pages seem to be unable to flip.

Thank you!

[2019-07-22 21:14] darenju commented on #112
This is not how you should use this prop.

Rather like:

[code]

[2019-07-24 05:35] stacygohyunsi commented on #112
Thanks @darenju, I tried writing it that way, but it seems like i still can swipe to flip the element:/

[2019-07-24 05:37] stacygohyunsi commented on #112
![image](https://user-images.githubusercontent.com/10786795/61767812-03efb500-ae18-11e9-9299-ac143e184f03.png)

[2019-07-24 11:34] darenju commented on #112
The `swipeImmune` prop is not supposed to work on the the first children of the `FlipPage` component (i.e. the "pages").

It is instead used to prevent swipes on elements such as buttons and such. So, it is normal that the `swipeImmune` still allows you to swipe from your first page. If instead you wanted to disable swipe, you could use the `disableSwipe` prop.

[2019-07-24 12:29] stacygohyunsi commented on #112
I see, is there anyway to disableSwipe only for the first page?

[2019-07-24 14:55] darenju commented on #112
Yes, just use a conditional:

[code]

You need to create a `pageHasChanged` callback, and set your `isOnFirstPage` value accordingly.

This shows the component would need a `getCurrentPage()` method…

[2019-07-24 16:50] stacygohyunsi commented on #112
Thanks so much @darenju!

[2019-07-24 16:50] #112 closed

[2019-08-07 01:52] FrancoisCoding opened #114 "Issue: Animation changes on production server"
Problem
When deploying site using the production build of site, animations change and split screen in half.

Environment
"react-flip-page": "1.5.7"
Settings:

{
      height: "700"
      width: "1150"
      pageBackground: "#f2f3ee"
      showSwipeHint: "true"
      uncutPages: "true"
}
Browsers:
Chrome
Firefox
Brave
IE

How to reproduce
Create flip book on site and run yarn build to see site, or

[2019-08-07 09:41] darenju commented on #114
Hello,

There have been several issues regarding problems when building a project into production mode… I have never been able to reproduce nor to identify the problem.

I would probably need help on investigating this issue. One could look into the styles generated on each of the slices to see the diff with the development version.

[2019-09-19 02:38] etacalpha opened #116 "onPageChange()"
Unless I have done something wrong I believe the parameters are backward.

[code]
When I change the page the console reads " this is direction 1 this is index next"

[2019-09-20 18:35] darenju commented on #116
Hello,
Doc and code say the same thing: it’s index then direction. You get a `set` direction when using `gotoPage` method.

[2019-09-21 23:33] #116 closed

[2019-10-21 17:00] Susan123456789 opened #118 "How can I hide the page shadowing?"
I am creating a flip book with a front and back cover.  I have managed to do this by creating a transparent div that lives on the first half of the page.  It looks great, except that when you go to turn the first page, the page shadowing appears over my transparent div.  How can I eliminate this page shadowing effect?

[code]

[2019-10-21 18:17] Susan123456789 commented on #118
Hmmm, when I get to the last page if I use a transparent div for the right half of last page (because we are supposed to be looking at the back cover) then I can see another page underneath.  Is there a way I can hide that page???

[2019-10-21 20:31] darenju commented on #118
Do you have a screenshot of what you are seeing? It would make it easier to help you eliminate that.

[2019-10-22 17:37] Susan123456789 commented on #118
Shadowing on first invisible page when turning the page:
![screenshot1](https://user-images.githubusercontent.com/49492073/67313334-ce1ea300-f4d0-11e9-8384-e7223ab09074.png)

Third page appearing under invisible last page:
![screenshot2](https://user-images.githubusercontent.com/49492073/67313335-ce1ea300-f4d0-11e9-9c18-2e4f6096e787.png)

[2019-10-22 19:34] darenju commented on #118
For the second problem, you should use a white background in order to hide the invisible last page.

As for the shadow, there is no option currently. I will add one to disable those shadows.

[2019-10-22 21:44] darenju commented on #118
Hey @Susan123456789 , I added a `noShadow` property on the component in its `1.6.0` version.

You should use it as shown:

[code]

[2019-10-23 15:40] Susan123456789 commented on #118
Thank you very much!!!!!

[2019-10-23 16:28] #118 closed

[2019-11-20 16:27] HiggsWRX opened #120 "Issue: Input fields and drop-downs do not work"
Hey so yeah pretty much what the title describes. I am experimenting some things and what I have currently is a couple pages and on the last one I have a few input fields and dropdowns to submit a form. When the forms component is inside the FlipPage component the input fields and dropdowns  are unsuable.

Currently on "react-flip-page": "^1.6.0", tried in the chrome, chromium, and firefox version

[2019-11-21 06:44] darenju commented on #120
Hey, did you try the `swipeImmune` prop?

[2019-11-27 09:52] LuthfanM opened #121 "Could not find declaration for Module 'react-flip-page'"
Hallo.

I feel like my question is really basic. But already try every solution from google but nothing works.
I am using expo and when i 'npm install react-flip-page', node_modules folder is not updated.
Thats why when i import package, it not detected. Using require similar output. Nothing works.

I am using
react-native-cli: 2.0.1
react-native: 0.59.10

what the cause of the problem actually? i

[2019-11-28 06:17] LuthfanM commented on #121
Ok. Turn out this issue is produced by react cannot manage to find Variable 'Document'.
What cause of this actually?

[2019-11-28 08:48] darenju commented on #121
`react-flip-page` is for Web. You need to use `react-native-flip-page`, which basically works the same.

You can find it on my profile.

[2019-12-03 13:03] #120 closed

[2019-12-03 13:03] #121 closed

[2020-02-27 00:34] webface opened #123 "Error when adding responsive attribute"
I'm using nextjs and material ui. When I try to set the component to responsive I get an error
[code]

Here is my code
[code]

[2020-02-27 12:40] webface opened #124 "Error using ref in Functional Component TypeError: flipPage.gotoNextPage is not a function"
I'm using nextjs and material ui. When I try to useRef I get an error
[code]

Here is my code
[code]

[2020-02-27 13:01] webface commented on #124
SOLVED
[code]

[2020-02-27 13:01] #124 closed

[2020-03-03 19:46] darenju commented on #124
I'm glad you could figure this out! In case you were wondering what happened:

* In your first version, your `onClick` handler was called immediately, and the `ref` was still `null`.
* In your solution, you created anonymous functions that are called `onClick`. Except this is called **after** the ref was set. Therefore you could also have written:

[code]

[2020-03-20 18:43] greenkeeper[bot] opened #132 "An in-range update of babel7 is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.8.7` to `7.9.0`.
- The `devDepende

[2020-05-06 15:19] benjaminviaud opened #134 "Update the value of startAt after the first render"
Hello,

I cannot update the startAt props after the first render because the init value is initialize in constructor with props.

In my case my function render
[code]

but i fetch book data from db with redux action (content of page, startAt, ...)
[code]

And after the data loaded I cannot update the startAt value.
Is there a way to update this value ?

Thanks for your work.

Ben

[2020-05-28 09:15] shivani619 opened #135 "Using gotoNextPage after flip half page correctly but the other half flips immediately without notice"
I am using react-flip-page. After 5 seconds of interval I call `gotoNextPage()` function. The animation for flipping is given 4000 keeping it slow, to give a book change feel.

        `<FlipPage
          ref={flipPage}
          orientation="horizontal"
          animationDuration={4000}
          disableSwipe={true}
          width="100%"
          loopForever

But, it shows the flipping until

[2020-05-28 11:38] darenju commented on #135
Hello,
Can you make a short video describing the behavior please?

[2020-05-28 11:40] darenju commented on #134
Hello,
Sorry for the delayed reply…
From what you describe, I can see two solutions:

- Only mount the `FlipPage` component once you have the data
- Call `gotoPage` with the correct index when everything is loaded.

[2020-05-29 11:11] shivani619 commented on #135
[20092417312009241731.zip](https://github.com/darenju/react-flip-page/files/4701414/20092417312009241731.zip)

Hi, I have attached the zipped file of a video. If you notice, when page starts flipping, it works fine till it reached the half part of image. The left part just changes immediately. Here I am not flipping page using swipe, I am just using gotoNextPage() function after specific interval

[2020-05-31 14:29] darenju commented on #135
It looks like the image under the flipping page is not being displayed. But that seems weird as it displays correctly after the delay is over…

Could I suggest that you use `base64` encoded images to try and see if the problem is with delay loading the images?

[2020-06-01 15:20] joefhall opened #136 "Security vulnerability for uglifyjs-webpack-plugin/serialize-javascript"
Hello!

Thanks for what looks like a great component.

I've had [this security alert](https://npmjs.com/advisories/1426) when installing via npm -- it looks like `uglifyjs-webpack-plugin` which uses `serialize-javascript` needs to be updated as it's vulnerable to Cross-Site Scripting (XSS).

Thanks

[2020-06-01 22:20] #132 closed

[2020-06-01 22:22] darenju commented on #136
Hey, it’s weird I haven’t had a notice from
GitHub telling me there was this problem…
I will try and solve it myself, thanks for reporting.

[2020-06-02 09:41] joefhall commented on #136
Thanks very much @darenju that's great 👍

[2020-06-03 09:21] darenju commented on #136
Actually the plugin wasn’t even used, and it’s deprecated…

Introduced the use of `terser-webpack-plugin`, which is its successor. The issue should be fixed in `v1.6.1`.

[2020-06-03 10:36] joefhall commented on #136
Thanks @darenju 👌

[2020-06-03 12:47] darenju commented on #136
@joefhall Can you confirm it is working on your side too?

[2020-06-03 17:10] joefhall commented on #136
Hi @darenju I'm not sure if I'm doing something daft, but when I try to `npm install` it from GitHub to get your latest changes (e.g. `npm install darenju/react-flip-page` or `npm install --save git+https://git@github.com/darenju/react-flip-page.git`) it's not actually installing the package properly in my project, in the `node_modules/react-flip-page` directory (I only get the CHANGELOG, LICENSE,

[2020-06-03 18:31] darenju commented on #136
For some reason, the tag was not pushed. Now pushing the tag.

However, I think your syntax for installing is wrong. Basically, it should be:

[code]

[2020-06-04 08:50] darenju commented on #114
Hello @FrancoisCoding,

Yesterday was released a new version, `1.6.1`, which uses another uglifying technic. Can you please try and check if the animation is working correctly now?

[2020-06-04 08:50] #106 closed

[2020-06-04 08:51] #98 closed

[2020-06-04 08:56] darenju commented on #123
Hello,

Sorry for the long delay. This basically means the `window` object cannot be found in order to enable `responsive` mode. I have never used NextJS. You should check out their documentation for somehow enabling browser support, as that seems to be the problem here.

As my code is not using direct references to `window`, I have no control on when it is being used…

[2020-06-04 09:52] joefhall commented on #136
Aha I see.  Because when I tried it before `v1.6.1` hadn't been published I had assumed you wanted me to check it by installing it from the latest code in GitHub instead because you had made the changes there.  I had previously installed it (and would normally) the way you mention above.

I've just installed the new version now and it's looking good -- no security vulnerabilities flagged by npm no

[2020-06-04 12:30] darenju commented on #136
Awesome! I'm glad it worked.

Closing the issue.

[2020-06-04 12:30] #136 closed

[2020-06-05 13:14] addisonschultz opened #137 "Using on Mobile devices gives unexpected black background"
This package is really great, I've even extended it quite a bit in Framer: https://packages.framer.com/package/addison/pagination

Using this on mobile gives weird behavior to the pages when flipping, as there is a black box coming from nowhere.

CodeSandbox: https://mbqir.csb.app/ (works as expected on desktop, not on any mobile device broswer)

Tested: iOS 13.5.1 Safari/Chrome

[2020-06-06 08:42] darenju commented on #137
Hello,

That should be working with `v1.6.2`. Can you please check?
I updated the way to display gradients over pages to show the move…

[2020-06-08 07:59] addisonschultz commented on #137
Look like it's working 🙌

Apologies, when I installed the dependency in the top example, it installed `1.6.1` still. Not sure why, but can verify `1.6.2` is working as expected. Thank you!

[2020-06-08 07:59] #137 closed

[2020-06-08 10:42] #95 closed

[2020-06-08 10:43] #23 closed

[2020-06-09 13:47] joefhall opened #138 "flipOnTouch and goto methods - uncutPages does not work, half the animation does not work"
Hi, thanks again for this great component.  I've noticed a couple of things not working when using the `flipOnTouch` property set to `true` or the `gotoPreviousPage` or `gotoNextPage` methods:

1. I really like the effect of the `uncutPages` property, where the edges of the pages are allowed to overflow through the container when flipping.  However, if you also use `flipOnTouch` or the `goto...` m

[2020-06-09 13:50] joefhall commented on #138
Sorry, I've just seen 2. in my issue above has already been raised in issue #135

[2020-06-09 15:00] darenju commented on #138
Thanks for reporting, I’m investigating…

[2020-06-09 17:00] joefhall commented on #138
Thanks for looking into it.

Eek, sounds painful... sorry to hear that.  If anything is possible in the meantime that would be great.

[2020-07-19 22:42] zoverlvx opened #140 "Background Color Split in two for Span when it sits Between Pages"
Love your library.

I'm currently having a weird bug where the background color of a word on the page won't fully highlight when hovered over when that word is specifically in between the two pages (I believe the "presentation" divs). Half of the word will highlight while the rest of it remains un-highlighted on the next page. I believe "pointer-events: none" might be the fix, but I'm not entirely

[2020-07-20 07:15] darenju commented on #140
Hey!

Nope, this is due to the fact that the pages are actually split in halves. What I’d recommend, is to use a state property that holds if your `span` is hovered. You would update the render of your page, making it visible on the other half of the page.

[2020-07-20 17:50] zoverlvx commented on #140
C'est ça! Merci, monsieur.

[2020-07-20 17:50] #140 closed

[2020-07-29 18:48] Ashar2shahid commented on #61
For those still struggling
[code]

[2020-08-14 20:12] jonrrivera opened #142 "Next JS - ReferenceError: window is not defined"
When installing this in Next.JS I get this reference error from the react-flip-page module.

<img width="1167" alt="Screen Shot 2020-08-14 at 1 11 00 PM" src="https://user-images.githubusercontent.com/18686388/90288936-dae9fa00-de48-11ea-9f52-2fde45725666.png">

[code]

[2020-08-15 15:11] darenju commented on #142
Hello,

The package does not support SSR. Please check issue #61 for possible solutions.

[2020-08-15 15:11] #142 closed

[2020-09-07 13:46] saricden commented on #123
@darenju @webface Probably because NextJS renders twice, once as serverside (no `window` object present) and once clientside.

[2020-09-07 14:01] saricden opened #143 "Pages blank until after flipped"
Hey there, encountering an issue with `react-flip-page`.

My render code is as follows:

[code]

The flip effect works perfectly, except that when navigating between any of the `lrPages` (the `<article>` tags), they are blank until the user releases the page and the animation completes, at which point the content for the page appears.

Anyone seen anything like this before? Thanks!

[2020-09-07 14:26] saricden commented on #143
Update:

I think I've zeroed in on the problem. It appears the `.map()` function is throwing it off, because instead of returning JSX elements directly as children, it returns them as an array of children, which seems to be where the bug is coming from.

**Works:**
![works](https://user-images.githubusercontent.com/7004280/92397163-29eb1e00-f0db-11ea-82d6-237c70da4520.png)

**Doesn't work:**
![no-

[2020-09-07 16:52] darenju commented on #143
I have merged your PR and have published a new version of the package `1.6.3` that contains your fix.

Can you please confirm it works with this version?

Thank you!

[2020-09-07 17:13] saricden commented on #143
@darenju On it :+1:

[2020-09-07 17:18] saricden commented on #143
Hey @darenju I installed version `1.6.3` via `yarn add react-flip-page` but it appears the `node_module` directory doesn't contain the `dist` directory, so when I boot up my app it throws:

[code]

Is this something on your end?

[2020-09-07 17:39] saricden commented on #143
If I copy over the `dist` directory to `node_modules/react-flip-page` all is well.

[2020-09-07 18:34] darenju commented on #143
Sorry, I had forgotten to `build` before publishing. `react-flip-page@1.6.4` should work normally.

Also, there are the tests to fix because of the addition of `.flat()` :
[code]

But this shouldn’t be a problem when installing.

[2020-09-07 19:04] saricden commented on #143
@darenju Awesome, you're the man! Thanks for fixing the tests :shipit:

[2020-09-07 19:05] saricden commented on #143
Works perfect in my implementation! :beers:

[2020-09-07 19:16] #143 closed

[2020-09-07 19:53] darenju commented on #143
And thank you for reporting & fixing this issue you found. It helps the component get better!

[2020-09-07 20:14] saricden commented on #143
:+1: My pleasure, this component has been hugely helpful for me on the app I'm working on!

[2020-10-30 05:56] fakhripraya opened #145 "cannot use input element"
for some reason i cant use my input element inside the flippage tag , cannot input any text inside my input tag

[2020-11-01 15:51] TheShashank opened #146 "Position of "middle of page""
Hi there!

This is an awesome library, thanks so much for working on it! Quick question: I can't seem to be able to change the position of the middle of the page, the place where the black crease appears. Would it be possible for me to modify it so that the appearance is that there is only one large page (as opposed to two small pages divided by the black line during a page flip)?

Thanks!

[2020-11-02 09:23] darenju commented on #145
Hello, you should use the `swipeImmune` property, which contains an array of CSS selectors on which the swipe does not apply.

[2020-11-02 09:23] #145 closed

[2020-11-02 09:25] darenju commented on #146
Hello,

Thanks for the appreciation. 😄
However, the whole point of this component is to mimic the Flipboard effect. It would not make sense to move the crease somewhere else. I would recommend you use something like (StPageFlip)[https://nodlik.github.io/react-pageflip/] instead.

[2020-11-02 09:25] #146 closed

[2020-11-26 20:45] shashank2000 opened #147 "Fragments"
So I've been trying for a while now to use React Fragments with this library, essentially I have a function that returns a bunch of `<article>stuff that goes into the page</article>` React elements (pages) - and I'd like for this to be displayed in another component, where the `FlipPage` component is actually defined. When I look into the dev inspector, it seems like what's actually happening is `

[2020-11-27 00:52] darenju commented on #147
I think your approach might be wrong. If you don’t mind showing a bit of code, we could try to find a solution.

My guess is that you are rendering those articles from an array or something similar. Then you don’t need to use a `Fragment` to render all the articles. Otherwise, the `FlipPage` component would only receive one child, which is the `Fragment`, and then it will clone it to add some prop

[2020-11-27 08:31] shashank2000 commented on #147
@darenju thanks for the reply! Yeah absolutely, so I have
`<FlipPage orientation="horizontal" pageBackground="#a0abb0" loopForever="true" showTouchHint="true" showHint="true" showSwipeHint="true" class="flipper" height="800" width="1280" uncutPages="false">
        <RenderMessages message_file="./messages/message_4.json" start="1584073823022" end="1584111931950" />
</FlipPage>`
in the parent compo

[2020-11-27 09:56] darenju commented on #147
Yes, the key is to give `FlipPage` an array of components.

[2020-11-29 10:17] #147 closed

[2020-11-29 14:54] shashank2000 commented on #147
Awesome, that did it thank you!

[2021-07-07 09:24] 17765 opened #157 "TypeError: Cannot set property 'FlipPage' of undefined"
using `<FlipPage ref={(component) => { this.FlipPage = component; }}> ` gives me this error. What's happening?

the full code:
`import React, { useState } from "react";
import Container from "react-bootstrap/Container";
import { useHistory } from 'react-router-dom';
import FlipPage from 'react-flip-page';
import "../App.css";
import Row from "react-bootstrap/Row";
import Col from "react-bootstrap/

[2021-07-13 16:18] darenju commented on #157
You are trying to set a `FlipPage` property on `this`, while not being inside a class or a function. I would recommend you use the [`useRef` hook](https://fr.reactjs.org/docs/hooks-reference.html#useref).

[2021-10-05 03:41] thekundankamal opened #160 "Is this supporting on react-native also ?"
I was tying to use in react native project but I was getting error related to window so is there any hack to use
it react-native side.

Please help me If I am doing anything wrong here.

[2021-11-10 18:51] darenju commented on #160
Hello, please refer to [this package](https://github.com/darenju/react-native-flip-page), for usage with React Native.

[2021-11-10 18:51] #160 closed

[2021-11-12 02:53] thekundankamal commented on #160
No, This npm is not working good.

[2021-11-24 16:21] Kamalakar-Gavali opened #163 "gotoPage(page) its not reflecting animation effect"
Whenever i used gotoPage(index) it goes to that perticulatr page but doesn't show animation effect.
@darenju can you tell me way to get animation in that case.